$main-background: #292929;
$off-white: #e6e0cc;
$cta-background: #cbf1f3;
$cta-text: #292929;
$dropdown: #343434;
$dropdown-transparent: rgba(52, 52, 52, 0.8);
$library-background: #ef7d82;
$tool-background: #6aa8ac;
$hardware-background: #737494;

$spotify-green: #2ab858;
$spotify-green-hover: #2fd565;
$spotify-green-transparent: rgba(52, 183, 92, 0.8);
$spotify-green-hover-transparent: rgba(47, 213, 101, 0.8);

$soundcloud-orange: #fc561f;
$soundcloud-orange-hover: #fc361d;
$soundcloud-orange-transparent: rgba(249, 87, 46, 0.8);
$soundcloud-orange-hover-transparent: rgba(252, 54, 29, 0.8);

$error: #fda429;

// colors from palmos project
$palmos-background-color: #292929;

$palmos-grey: #605e5e;
$palmos-dark-grey: #6f6f6f;
$palmos-turquoise: #67d5c6;
$palmos-blue: #203657;
$palmos-dark-blue: #1f2f49;
$palmos-darker-blue: #1a2741;
$palmos-off-white: #f8f9fb;
$palmos-off-white--dark: darken($palmos-off-white, 20%);
