@import 'colors';
@import 'mixins';

.contact-form {
	width: 90%;
	max-width: 500px;
}

.contact-input[type='text'],
.contact-input[type='number'],
.contact-input[type='email'] {
	margin: 10px auto;
	display: block;
	width: 100%;
	height: 40px;
	min-height: 40px;
	pointer-events: all;
	font-weight: 300;
	text-align: center;
	border-radius: 10px;
	font-size: 1.5em;
	background-color: transparent;
	color: $palmos-off-white--dark;
	border: 1px solid rgba(107, 213, 198, 0.2);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea.contact-input {
	background-color: transparent;
	color: $palmos-off-white--dark;
	border: 1px solid rgba(107, 213, 198, 0.2);
	border-radius: 10px;
	font-weight: 300;
	text-align: center;
	font-size: 1.5em;
	resize: none;
	height: 200px;
	width: 100% !important;
	min-width: 100% !important;
}

.contact-input:focus {
	border: 2px solid rgba(107, 213, 198, 0.35);
	outline: 0;
}
