@import 'colors';
@import 'mixins';

@media all and (max-width: 720px) {
	.sign-up {
		@include center();
		position: fixed;
		width: 100%;
		margin: 0 auto;
		display: grid;
		max-width: 400px;
	}
	.page-hero {
		font-size: 2em;
		position: fixed;
		top: 5%;
		right: 40%;
		width: 100%;
		color: #fff;
		text-align: center;
		width: 40%;
		max-width: 500px;
	}
}

@media all and (min-width: 721px) {
	.sign-up {
		@include vertical-align();
		position: fixed;
		right: 10%;
		width: 100%;
		display: grid;
		max-width: 400px;
	}
	.page-hero {
		font-size: 2em;
		position: fixed;
		top: 40%;
		left: 5%;
		color: #fff;
		text-align: center;
		width: 40%;
		max-width: 500px;
	}
}

#spinner {
	margin: auto;
	text-align: center;
}

#sign-up-button {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	width: 60%;
	margin: 10px auto;
	padding: 10px 30px;
	border-radius: 50px;
}

#email-button {
	border: 1px solid #ffffff;
	@extend #sign-up-button;
}

#email-button:hover {
	background-color: $dropdown-transparent;
}

#spotify-button {
	@extend #sign-up-button;
	background-color: $spotify-green-transparent;
}

#spotify-button:hover {
	background-color: $spotify-green-hover-transparent;
}

#soundcloud-button {
	@extend #sign-up-button;
	background-color: $soundcloud-orange-transparent;
}

#soundcloud-button:hover {
	background-color: $soundcloud-orange-hover-transparent;
}
