@import 'colors';
@import 'mixins';

.landing-page-wrapper {
}

.landing-page-content {
	height: 100vh;
	width: 100%;
	align-items: flex-end;
	display: flex;
	justify-content: center;
	z-index: 2;
}

.landing-page-prose {
	&--container {
		position: absolute;
		top: 25%;
		left: 10%;
		width: 80%;
		max-width: 500px;
		z-index: 3;
	}
	&--header {
		color: $palmos-turquoise;
		font-size: 4em;
		font-weight: 500;
		margin: 0 -4px;
	}
	&--text {
		color: $palmos-off-white--dark;
		font-weight: 300;
		line-height: 1.5em;
		padding: 15px 0 25px 0;
	}
}

.cta-button {
	@include no-user-select();
	display: inline-block;
	border: 1px solid $palmos-turquoise;
	border-radius: 10px;
	padding: 15px 50px;
	width: fit-content;
	color: $palmos-turquoise !important;
	background: rgba(255, 255, 255, 0.02);
	text-transform: uppercase;
	font-weight: 500;
	transition: background-color 0.5s, box-shadow 0.5s;

	&:hover {
		background: rgba(107, 213, 198, 0.1);
		box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
	}

	&:active {
		@extend .cta-button:hover;
		background: rgba(107, 213, 198, 0.2);
	}

	&--outline {
		@extend .cta-button;
		background: rgba(255, 255, 255, 0.02);
		border: 1px solid $palmos-turquoise;
	}
}

.sponsor-list {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: center;
	margin-bottom: 40px;
	z-index: 2;

	&--img {
		@include no-user-select();
		margin: 10px 30px;
	}
	.sponsor-list--img:hover {
		@extend .sponsor-list--img;
		filter: brightness(140%);
	}
}

.landing-page-team {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5% 0;

	&--header {
		color: $palmos-off-white--dark;
		font-size: 3em;
		font-weight: 400;
	}

	&--cards {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
		margin: 50px 0;

		&--profile {
			padding: 20px;
			margin: 20px;
			border-radius: 10px;
			background: rgba(107, 213, 198, 0.02);
			text-align: center;
			flex: 1;
			transition: background-color 0.5s;

			&:hover {
				background: rgba(107, 213, 198, 0.07);
			}

			&--img {
				filter: grayscale(100%);
				border-radius: 100px;
				overflow: hidden;
				width: 150px;
			}

			&--name {
				color: $palmos-off-white--dark;
				margin: 20px 0 0 0;
				font-weight: 600;
			}

			&--title {
				@extend .landing-page-team--cards--profile--name;
				margin: 8px 0 20px 0;
				font-weight: 500;
			}

			&--info {
				color: $palmos-off-white--dark;
				display: block;
				font-weight: 300;
			}
			&--contact {
				@extend .landing-page-team--cards--profile--info;
				text-decoration: underline;
				margin: 5px 0 0 0;
			}
		}
	}
}

.landing-page-contact {
	@extend .landing-page-team;
	background: white;

	&--header {
		@extend .landing-page-team--header;
		color: black;
	}

	&--sub-header {
		color: black;
	}
}

// smaller screen sizes
@media (max-width: 1000px) {
	.landing-page-prose {
		&--container {
			position: absolute;
			top: 15%;
			left: 5%;
			width: 90%;
			max-width: 500px;
			z-index: 3;
		}
		&--header {
			color: $palmos-turquoise;
			font-size: 4em;
			font-weight: 500;
			margin: 0 -4px;
		}
		&--text {
			color: $palmos-off-white--dark;
			font-weight: 300;
			line-height: 1.5em;
			padding: 15px 0 25px 0;
		}
	}
	.sponsor-list {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: center;
		margin-bottom: 15px;
		z-index: 2;

		&--img {
			@include no-user-select();
			margin: 5px 15px;
		}
	}
}

.footer {
	margin: 70px 0 50px 0;
	padding: 20px 0;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	color: $palmos-grey;
	font-size: 1.25em;
}

.footer a {
	color: $palmos-grey;
	text-decoration: underline;
}
