<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <title>Ripple.fx Team</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav id='main-nav'></nav>
    <div class='main'>
      <% flash.each do |type, message| %>
        <div class="home-centered flash flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <!-- <script src="/javascripts/particleall.js"></script>
  <script>
    new Particleground.particle( '#demo', {
      num: 100
    });
  </script> -->
  <script src="/javascripts/app.js"></script>
</html>
